#filter-by-watch-selector {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 99;
    font-size: 1.5rem;
    width: 75px;
}

#filter-by-type-selector {
    position: fixed;
    top: 5px;
    left: 80px;
    z-index: 99;
    font-size: 1.5rem;
    width: 75px;
}

#seasons-selector {
    position: fixed;
    top: calc(19px + 2px + 5px);
    left: 5px;
    z-index: 99;
    font-size: 1.5rem;
    width: 150px;
}

#seasons-selector::-webkit-scrollbar {
    display: none;
}

#up-scroll-arrow {
    position: fixed;
    bottom: 5px;
    right: 15px;
    z-index: 99;
    font-size: 5rem;
    font-weight: bold;
    cursor: pointer;
}
